# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Data Science Tools
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

| Data Science Tools |
| -------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

## Author
Sarah Hanafy